<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="freeCodeCamp #2 API Challenge">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    <div class="wrapper">
      <h1>
        API Project: Request Header Parser Microservice
      </h1>

    <blockquote>
      
      User Story:
      <ul>
        I can get the IP address, preferred languages (from header <code>Accept-Language</code>)<br> and system infos (from header <code>User-Agent</code>) for my device.
      </ul>
    </blockquote>
      <h3>Example usage:</h3>
      
      <form action="https://fcc-url-shortener-app.glitch.me/new" method="POST">
        <input placeholder="Enter URL" type="url" name="url">
        <button type="submit">Shorten URL</button>
      </form>
      <br>
      
      <h3>Example Output:</h3>
        <code>{"original_url":"https://www.primepole.com","short_url":2108}</code>
          
    <footer>
      Made by <a target = "_blank" href="https://codepen.io/redhairedgadget/">Redhairedgadget</a>.
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    </div>
  </body>
</html>
